
	<img src="/index.dma/DmaView?18896,3,49981,b7baf222900a941c3ee6bf376a4200b3" width="1" height="1" border="0" />
	<html>
	<head>
		<title>Lojas M3D</title>
	</head>
	<body>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tbody>
				<tr>
					<td align="center">
					<table cellpadding="0" cellspacing="0" border="0" width="600">
						<tbody>
							<tr>
								<td><br />
								<font color="#888888" face="Tahoma, Arial" size="4"><strong>Lojas MGcode</strong></font><br /><br />
								</td>
							</tr>
							<tr>
								<td><img src="http://imagens.virtualtarget.whservidor.com/12/templates/template4/sombra1.gif" alt="" /></td>
							</tr>
							<tr>
								<td align="left" bgcolor="#FFFFFF">
								<table cellpadding="0" cellspacing="0" border="0" width="100%">
									<tbody>
										<tr>
											<td width="18">&nbsp;</td>
											<td><br />
											<p><font face="Verdana" size="1" color="#888888"><strong>Ol&aacute; Senhor(a) marco</strong></font></p>
											<p><font face="Verdana" size="1" color="#888888">N&atilde;o perca as ofertas que preparamos para voc&ecirc; neste m&ecirc;s de Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam viverra leo venenatis neque. Aliquam nec velit id odio sodales varius.</font></p>
											<p><font face="Verdana" size="1" color="#888888">Morbi nisl massa, venenatis non, lobortis a, porttitor vulputate, mauris. Duis tempor, urna sed aliquet euismod.</font></p>
											<br />
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody>
													<tr>
														<td height="10" bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2"></td>
													</tr>
													<tr>
														<td width="10" bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2"><img src="images/hd-externo-samsung-320gb.jpg" alt="" width=190 height=150 /></td>
														<td width="10" bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2">
														<p><font face="Tahoma" color="#888888" size="2"><strong>Valores reduzidos para toda a linha de lorem ipsum dolor sit amet</strong></font></p>
														<p><font face="Tahoma" color="#888888" size="1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquanm viverra leo venanatis neque.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquanm viverra leo venanatis neque.</font></p>
														<p><font face="Tahoma" color="#f59500" size="2"><strong>Produtos por at&eacute;: R$ 48,99</strong></font></p>
														</td>
														<td width="10" bgcolor="#f2f2f2"></td>
													</tr>
													<tr>
														<td height="10" bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2"></td>
														<td bgcolor="#f2f2f2"></td>
													</tr>
												</tbody>
											</table>
											<br />
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody>
													<tr>
														<td align="left">
														<table cellpadding="0" cellspacing="0" border="0" width="200" height="500">
															<tbody>
																<tr>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"><img src="images/hd-externo-samsung-500gb.jpg" alt="" width=190 height=130 /></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2">
																	<p><font face="Tahoma" color="#888888" size="2"><strong>HD Externo da Samsung 500GB</strong></font></p>
																	<p><font face="Tahoma" color="#888888" size="1">Itens inclusos<br />
1- HD externo 500GB Samsung <br />
1- Capinha de couro da Samsung<br />
1- Cabo USB Performance<br />
Serial Bus Transfer Rate (USB 2.0): 480 Mb/s (Max) <br />
Capacidade: 500GB<br />
Interface: Sansung USB 2.0<br />
Velocidade de rotação: 5400 RPM<br />
Buffer: 8 MB<br />
Taxa de transferência: 480 MB/s</font></p>
																	<p><font face="Tahoma" color="#888888" size="1">De: R$ 300,00</font><br />
																	<font face="Tahoma" color="#f59500" size="2"><strong>Por: R$ 250,00</strong></font></p>
																	</td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2" height="10"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
															</tbody>
														</table>
														</td>
														<td align="center">
														<table cellpadding="0" cellspacing="0" border="0" width="200" height="500">
															<tbody>
																<tr>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"><img src="images/gps-foston-fs-460dt-4.3tv-digital+map-intp.jpg" alt="" width=190 height=130  /></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2">
																	<p><font face="Tahoma" color="#888888" size="2"><strong>GPS Foston FS-460DT</strong></font></p>
																	<p><font face="Tahoma" color="#888888" size="1">Itens Inclusos<br /><br />
01 Navegador GPS FS-460DT.<br /><br />

01 Cabo USB.<br /><br />

01 Base com ventosa.<br /><br />

01 Carregador veicular.<br /><br />

Manual de instruções.</font></p>
																	<p><font face="Tahoma" color="#888888" size="1">De: R$ 170,00</font><br />
																	<font face="Tahoma" color="#f59500" size="2"><strong>Por: R$ 150,00</strong></font></p>
																	</td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2" height="10"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
															</tbody>
														</table>
														</td>
														<td align="right">
														<table cellpadding="0" cellspacing="0" border="0" width="200" height="500">
															<tbody>
																<tr>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"><img src="images/camera-digital-fuji-finepix-xp30-a-prova-d-agua.jpg" alt=""  width=190 height=130 /></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2">
																	<p><font face="Tahoma" color="#888888" size="2"><strong>Camera Digital Juji FinePix XP30 ( À Prova d'Água) </strong></font></p>
																	<p><font face="Tahoma" color="#888888" size="1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquanm viverra leo venanatis neque.</font></p>
																	<p><font face="Tahoma" color="#888888" size="1">De: R$ 500,00</font><br />
																	<font face="Tahoma" color="#f59500" size="2"><strong>Por: R$ 440,00</strong></font></p>
																	</td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2" height="10"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
															</tbody>
														</table>
														</td>
													</tr>
												</tbody>
											</table>
											<br />
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody>
													<tr>
														<td height="1" bgcolor="#e0e0e0"></td>
													</tr>
													<tr>
														<td height="35" align="center"><font face="Tahoma" color="#888888" size="2"><strong>Linha de produtos Lorem ipsum dolor</strong></font></td>
													</tr>
												</tbody>
											</table>
											<br />
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody>
													<tr>
														<td align="left">
														<table cellpadding="0" cellspacing="0" border="0" width="200" height="500">
															<tbody>
																<tr>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"><img src="images/pen-drive-kingston-dt101-4gb.jpg" alt="" width=190 height=130 /></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2">
																	<p><font face="Tahoma" color="#888888" size="2"><strong>Pen Drive Kingston 4GB</strong></font></p>
																	<p><font face="Tahoma" color="#888888" size="1">Capacidades — 4GB<br />
Velocidade — 10MB/s. de leitura e 5MB/s. de gravação3<br />
Dimensões — 57,18mm x 17,28mm x 10,00mm<br />
Temperatura de Operação — 0° a 60° C<br />
Temperatura de Armazenamento — -20° a 85° C<br />
Simples — basta conectar em uma porta USB<br />
Fácil de carregar — design giratório compacto<br />
Customizável — programa cologo disponível4</font></p>
																	<p><font face="Tahoma" color="#888888" size="1">De: R$ 20,00</font><br />
																	<font face="Tahoma" color="#f59500" size="2"><strong>Por: R$ 15,00</strong></font></p>
																	</td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2" height="10"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
															</tbody>
														</table>
														</td>
														<td align="center">
														<table cellpadding="0" cellspacing="0" border="0" width="200" height="500">
															<tbody>
																<tr>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"><img src="images/pen-drive-kingston-dt101-8gb.jpg" alt="" width=190 height=130 /></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2">
																	<p><font face="Tahoma" color="#888888" size="2"><strong>Pen Drive Kingston 8GB</strong></font></p>
																	<p><font face="Tahoma" color="#888888" size="1">Capacidades 8GB<br />
Dimensões 55,65mm x 17,3mm x 9,05mm<br />
Peso 12 g<br />
Temperatura de Operação 32° a 140° C<br />
Temperatura de Armazenamento -4° a 185° C<br />
Conveniente tamanho compacto para facilitar o transporte<br />
Simples basta conectar em uma porta USB para usar<br />
Prático design giratório sem tampa que protege o conector USB, sem tampa para perder<br />
Moderno / Disponível na cor vermelha</font></p>
																	<p><font face="Tahoma" color="#888888" size="1">De: R$ 28,00</font><br />
																	<font face="Tahoma" color="#f59500" size="2"><strong>Por: R$ 20,00</strong></font></p>
																	</td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2" height="10"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
															</tbody>
														</table>
														</td>
														<td align="right">
														<table cellpadding="0" cellspacing="0" border="0" width="200" height="500">
															<tbody>
																<tr>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																	<td width="10" height="10" bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"><img src="images/pen-drive-kingston-dt101-16gb.jpg" alt="" width=190 height=130 /></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td height="10" bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2">
																	<p><font face="Tahoma" color="#888888" size="2"><strong>Pen Drive Kingston 16GB</strong></font></p>
																	<p><font face="Tahoma" color="#888888" size="1">
Conveniente: tamanho compacto para facilitar o transporte<br />
Prático: design giratório compacto<br />
Personalizável3: programa Co-Logo disponível<br />
Dimensões: 2.25" x 0.68" x 0.39" (57.18mm x 17.28mm x 10.00mm)<br />
Temperatura de Operação: 0? a 60? (32°F a 140°F)<br />
Temperatura de Armazenamento: -20? a 85? (-4°F a 185°F)</font></p>
																	<p><font face="Tahoma" color="#888888" size="1">De: R$ 40,00</font><br />
																	<font face="Tahoma" color="#f59500" size="2"><strong>Por: R$ 35,00</strong></font></p>
																	</td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
																<tr>
																	<td bgcolor="#f2f2f2"></td>
																	<td bgcolor="#f2f2f2" height="10"></td>
																	<td bgcolor="#f2f2f2"></td>
																</tr>
															</tbody>
														</table>
														</td>
													</tr>
												</tbody>
											</table>
											</td>
											<td width="18">&nbsp;</td>
										</tr>
									</tbody>
								</table>
								</td>
							</tr>
							<tr>
								<td><img src="http://imagens.virtualtarget.whservidor.com/12/templates/template4/sombra2.gif" alt="" /></td>
							</tr>
						</tbody>
					</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>


